html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: black 0 0 10px 0;
  padding: 10px;
  background-color: white;
  align-items: center;
  z-index: 4;
}

.nav-bar.dark {
  background-color: #21222A;
  color: #F5F5F5;
}

.nav-bar > img {
  width: 50px;
  cursor: pointer;
}
.nav-bar > h2 {
  cursor: pointer;
  margin-right: auto;
  color: #29b51d;
}

.nav-bar > ul{
  list-style: none;
  display: flex;
}

.nav-bar > ul > li{
  padding:  10px;
  cursor: pointer;
}

.nav-bar > ul > li:hover{
  color: #61dafb;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-wrapper.dark{
  background-color: rgb(40,45,53, 0.9);
    color: white;
}

footer{
  background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.content-bar{
  position: relative;
  padding: 150px 27px 40px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-person{
  width: 50%;
  margin:  0 auto;
}
.l-person img{
  width: 60%;
  float: right;
}

.r-person{
  
  animation-name: OpacityElement;
  animation-duration: 3s;
  transition: opacity 2s;
  width: 50%;
  font-size: 50px;
  text-shadow: 10px 0px 10px black;
  font-weight:bold;
}


.content-bar > h1{
  letter-spacing: -0.03em;
}
/*
.content-bar > ol {
    margin-top: 46px;
    max-width: 400px;
}

.content-bar > ol li{
  line-height: 19px;
  padding: 10px;
}

.content-bar > ol li::marker{
  color: #61dafb;
  font-size: 1.4rem;
}
*/
.backImg {
  position: fixed;
  right: -285px;
  top: 100px;
}
.backImg > img{
  width: 90%;
  filter: grayscale(100%);
  opacity: 0.5;
}

/* skills css */

.skills{
  position: relative;
  margin-top: -34px;
  z-index: 1;
}


.skills h1{
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-size: 50px;
  box-shadow: 10px 0 0 0;
}
.skill{
  display: flex;
  flex-wrap:  wrap;
  justify-content:center;
  row-gap: 30px;
  column-gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}
.skill span{
  position: relative;
  width: 200px;
  height: 200px;
  text-align:  center;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 3;
}
.skill span img {
  width: 100px;
  transition: 1s;
  filter: invert(40%);
  align-self: center;
}

.skill span p {
font-weight: bold;
font-size: 20px;
transition: 0.2s;
}

.skill span:hover img {
  transform: scale(1.3) ;
  filter: invert(0%);
}
.skill span:hover{
  box-shadow: 0 0 25px 5px black;
  background-color:rgba(0,0,0,0.4);
  color : white;
}

.condition{
  position: absolute;
  padding: 5px;
  background-color: red;
  border-radius: 10px;
  top: 6px;
  left: 6px;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 500px) {
  .skill span{
    width: 140px;
    height: 140px;
  }

  .skill span img{
    max-width: 50px;
  }
  .content-bar{
    display: block;
  }
  .l-person img{
    float: none;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    width: 100%;
  }
  .r-person{
    font-size: 25px;
    width: 100%;
  }
}



/* Nave dark night */


.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}